<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/public/style.css">
        </head>
              
    <body>
            <h1> Admin Login</h1>
            <br>
                 
             <form action="/course/comp308" method="POST">
                Username:<input type="text" name="username" >
                <br>
                Passord: <input type="password" name="pass" >
                <br><br>
                <input type="submit" value="Login">
            </form> 
    </body>
</html>